<app-menutop></app-menutop>
<div class="container">
    <div class="card mt-2">
        <div class="card-body">
            <div class="card-body">
                <a [routerLink]="['/usuarios/create']" class="btn btn-success">Novo Usuário</a>
            </div>
            <br />
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                    <tr>
                        <th>Produtos</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>teste1</td>
                        <td>acao1</td>
                    </tr>
                    <tr>
                        <td>teste2</td>
                        <td>acao2</td>
                    </tr>
                    <tr>
                        <td>teste3</td>
                        <td>acao3</td>
                    </tr>
                    <tr>
                        <td>teste4</td>
                        <td>acao4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>