<app-menutop></app-menutop>
<div class="container">
    <div class="card mt-2">
        <div class="card-body">
            <div class="card-body">
                <a [routerLink]="['/usuarios/create']" class="btn btn-success">Novo Usuário</a>
            </div>
            <br />
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th width="150">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of dados">
                        <td>{{ m.name }}</td>
                        <td>{{ m.email }}</td>
                        <td><button class="btn btn-sm btn-info mr-2" [routerLink]="[m.id, 'edit']">Editar</button>
                            <button class="btn btn-sm btn-danger" (click)="onDelete(m.id)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>